POSTGRES_DB=foodgram
POSTGRES_USER=foodgram_user
POSTGRES_PASSWORD=foodgram_password
DB_NAME=foodgram
DB_HOST=db
DB_PORT=5432
DEBUG=false
SECRET_KEY=django-insecure-3#0vg$pyfm)^d@hg!@qtb7_pj+0x7jv^6n87y9if#p!l3r0+@y
ALLOWED_HOSTS=myfoodgram.serveblog.net,localhost,127.0.0.1
USE_SQLITE=false