# Django stuff:
db.sqlite3
Dockerfile

# Environments
.git
venv
venv/
.venv
.venv/
.env
.env/
env
env/

# Папки, создаваемые средой разработки
.idea
.vscode
__pycache__/
/__pycache__/
*__pycache__/
*/__pycache__/


# папки со статикой и медиа
media
media/
*media
static
static/
collected_static
collected_static/